version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    container_name: polylab_backend
    restart: always
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: polylab_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./uploads:/app/uploads
